@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
html{
    background: url("https://image.freepik.com/foto-gratis/textura-carton_95678-72.jpg") repeat;
    background-size: 150px 108px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
header{
    text-align: center;
    font-family: 'Lobster Two', cursive;
}
section{
    text-align: center;
}

p {
    font-family: 'Indie Flower', cursive;
}

