/*LAS FUENTES USADAS*/
@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');

/* PARA LA PLAYLIST*/

#playlist, audio{
    background:#666;
    width:400px;
    padding:20px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  a {
    text-decoration:none;
  }
  .active a {
    color:#5DB0E6;
    text-decoration:none;
  }
  li a{
    color:#eeeedd;
    background:#333;
    padding:5px;
    display:block;
  }
  li a:hover{
    text-decoration:none;
  }

  /*PARTE 1*/

  h1.t1{
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    color: rgb(9, 9, 121);
    text-shadow: darkgray 3px 3px;
    letter-spacing: 4px;
    font-size: 200%;
  }

  p.p1{
    text-align: center;
  }

  img.img1:hover{
    transform: scale(1.2)
    }


    /* SEPARADOR */

  hr{
    border: darkslateblue dotted 1px;
    margin-right: 10%;
    margin-left: 10%;
  }
   
  /*PARTE 2*/

  h2.t2{
    font-family: 'Lobster Two', cursive;
    letter-spacing: 2px;
  }


  .p2 {
    width: 10%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 15px;
  }

/* PARTE 3*/
/* HACER QUE LA TABLA SE VEA A MEDIAS */
table.t3{
  width: 200%;
  padding-left: 10%;
}
/* PARTE 4 */


table.p4{
  width: 30%;
 /* display: inline-block;
  vertical-align: top; */
  text-align: center;
  border-spacing: 100px;
  padding-left: 15%;
  padding-right: 15%;
}